- $LOAD_PATH << '.'
- require '_helpers'
= render_file('layout/_wrap.haml')
%body{:"data-spy" => "scroll", :"data-target" => "#nav-scrollpsy", :"data-offset" => "100"}
  = render_file('layout/_menu.haml')
  .jumbotron.small
    .container
      %h1
        Anglická frázová slovesa
          
  .container.content
    .row
      .col-md-2
        .hidden-print.hidden-xs.affix.affix-margin.affix-side{:role => "complementary", :"data-spy" => "affix", :"data-offset-top" => "138", :"data-offset-bottom" => "10"}
          %h3.page-header
            Kategorie
          %ul.nav.nav-sidenav#nav-scrollpsy
            %li
              %a{:href => "#abc"}
                A, B, C
            %li
              %a{:href => "#def"}
                D, E, F
            %li
              %a{:href => "#ghi"}
                G, H, I
            %li
              %a{:href => "#jkl"}
                J, K, L
            %li
              %a{:href => "#mno"}
                M, N, O
            %li
              %a{:href => "#pqr"}
                P, Q, R
            %li
              %a{:href => "#stu"}
                S, T, U
            %li
              %a{:href => "#vwx"}
                V, W, X
            %li
              %a{:href => "#yz"}
                Y, Z

      .col-md-9.col-md-offset-1
        %h2.page-header#abc
          A
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 

        %h2.page-header
          B
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 

        %h2.page-header
          C
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř

        %h2.page-header#def
          D
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 

        %h2.page-header
          E
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 
        %h2.page-header
          F
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 
        %h2.page-header#ghi
          G
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 
        %h2.page-header
          H
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 
        %h2.page-header
          I
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 



        %h2.page-header#jkl
          J
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 

        %h2.page-header
          K
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 

        %h2.page-header
          L
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř

        %h2.page-header#mno
          M
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 

        %h2.page-header
          N
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 
        %h2.page-header
          O
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 
        %h2.page-header#pqr
          P
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 
        %h2.page-header
          Q
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 
        %h2.page-header
          R
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 



        %h2.page-header#stu
          S
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 

        %h2.page-header
          T
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 

        %h2.page-header
          U
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř

        %h2.page-header#vwx
          V
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 

        %h2.page-header
          W
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 
        %h2.page-header
          X
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 
        %h2.page-header#yz
          Y
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 
        %h2.page-header
          Z
        .table-responsive
          %table.table.table-condensed.table-2-col.table-borderless
            %tr
              %td
                add in
              %td
                dodat, zahrnout do 
            %tr
              %td
                add up
              %td
                sečíst, znamenat 
            %tr
              %td
                agree with
              %td
                souhlasit, vyhovovat
            %tr
              %td
                aim at/for
              %td
                zaměřit se, soustředit se, směřovat k 
            %tr
              %td
                answer to
              %td
                zodpovídat se, odpovídat na 
            %tr
              %td
                apply for
              %td
                žádat o, ucházet se o, zažádat si 
            %tr
              %td
                ask for
              %td
                (po)žádat, (po)prosit o 
            %tr
              %td
                ask in
              %td
                pozvat, zvát dovnitř 

  = render_file('layout/_footer.haml')