- require '_helpers'
- $title = "Angličtina online"
- $meta_description = "Anglický jazyk na portálu Jazyky-online.info"
- $meta_keywords = "Angličtina, Angličtina online, Angličtina online zdarma, Anglický jazyk, english, výuka Angličtiny, Angličtina pro samouky"
- $meta_subject = "Cizí jazyk. Výuka jazyků. Gramatika. Slovíčka. Testy. Jazyková zkouška. Slovesa. Fráze. Výslovnost. Angličtina. Němčina. Francouzština."
- $text_footer = "Portál Jazyky-online.info je určený pro podporu výuky cizích jazyků jak pro <strong>samouky</strong> z řad dospělých, tak i pro děti a nejmenší. Web obsahuje moduly pro výuku angličtiny a dalších světových jazyků pro <strong>začátečníky i pokročilé</strong>. Navíc vše na Jazyky-online.info pro Vás <strong>zdarma</strong>."
= render :wrap, :title => $title, :meta_description => $meta_description, :meta_keywords => $meta_keywords, :meta_subject => $meta_subject
%body
  .jumbotron.no-touch.intro
    .hi-icon-wrap.hi-icon-effect-5.hi-icon-effect-5a
      <a href="intro.html" class="hi-icon hi-icon-earth navbar-brand" title="jazyky-online.info">jazyky-online</a>
    .container
      %h1
        jazyky-online<small>.info</small>
          
  .container.content
    .row.intro
      .col-md-6.intro-left
        .h2
          Chci se učit
      .col-md-6.intro-right
        .h2
          %a{:href => "index.html"}
            .intro-flags.en
            angličtinu
        .h2
          %a{:href => "index.html"}
            .intro-flags.de
            němčinu
        .h2
          %a{:href => "index.html"}
            .intro-flags.fr
            francouzštinu
        .h2
          %a{:href => "index.html"}
            .intro-flags.es
            španělštinu
        .h2
          %a{:href => "index.html"}
            .intro-flags.ru
            ruštinu
        .h2
          %a{:href => "index.html"}
            .intro-flags.cn
            čínštinu
        .h2
          %a{:href => "index.html"}
            .intro-flags.jp
            japonštinu
    

  = render :footer, :hidden => false, :text_footer => $text_footer