- require '_helpers'
- $title = "Procvičování anglických slovíček"
- $meta_description = "Modul procvičování anglických slovíček umožňuje uživatelům opakovat a aktivně procvičovat získanou slovní zásobu."
- $meta_keywords = "Angličtina, procvičování anglických slovíček, slovíčka, testování slovíček, testy"
- $meta_subject = "Cizí jazyk. Výuka jazyků. Gramatika. Slovíčka. Testy. Jazyková zkouška. Slovesa. Fráze. Výslovnost. Angličtina. Němčina. Francouzština."
- $text_footer = "Modul procvičování anglických slovíček umožňuje uživatelům opakovat a aktivně procvičovat získanou slovní zásobu."
= render :wrap, :title => $title, :meta_description => $meta_description, :meta_keywords => $meta_keywords, :meta_subject => $meta_subject
%body
  = render :menu, :page_type => "other", :h1_big => "Procvičování anglických slovíček", :h1_small => ""
          
  .container.content
    .row
      .col-md-2
        .hidden-print.affix-side.affix-margin.text-muted
          %h3.page-header
            Můj postup
          %h4
            Už umím
          %table.table.table-condensed.table-borderless.table-2-col
            %tr
              %td
                %small
                  540
              %td
                %small
                  slovíček
            %tr
              %td{:colspan => "2"}
                .progress
                  .progress-bar.progress-bar-subtle{:role => "progressbar", :"aria-valuenow" => "30", :"aria-valuemin" => "0", :"aria-valuemax" => "100", :style => "width: 30%"}
                    %small 
                      30 %

          %h4
            Rozumím
          %table.table.table-condensed.table-borderless.table-2-col
            %tr
              %td
                %small
                  40 %
              %td
                %small
                  odbornému textu
            %tr
              %td
                %small
                  50 %
              %td
                %small
                  beletrie
            %tr
              %td
                %small
                  70 %
              %td
                %small
                  mluvené řeči

      .col-md-9.col-md-offset-1
        %ul.skill-tree
          %li.skill-tree-row
            %ul.skills
              %li.skill.barvy.learned
                %a{:href => "#"}
                  .skill-label
                    Barvy
              %li.skill.rodina
                %a{:href => "#"}
                  .skill-label
                    Rodina
              %li.skill.telo
                %a{:href => "#"}
                  .skill-label
                    Tělo 
          %li.skill-tree-row
            %ul.skills
              %li.skill.jidlo
                %a{:href => "#"}
                  .skill-label
                    Jídlo
              %li.skill.ovoce
                %a{:href => "#"}
                  .skill-label
                    Ovoce
              %li.skill.zelenina
                %a{:href => "#"}
                  .skill-label
                    Zelenina
              %li.skill.napoje
                %a{:href => "#"}
                  .skill-label
                    Nápoje

          %li.skill-tree-row
            %ul.skills
              %li.skill.mesto
                %a{:href => "#"}
                  .skill-label
                    Město
              %li.skill.zvirata
                %a{:href => "#"}
                  .skill-label
                    Zvířata
              %li.skill.priroda
                %a{:href => "#"}
                  .skill-label
                    Příroda
              %li.skill.obleceni
                %a{:href => "#"}
                  .skill-label
                    Oblečení
          %li.skill-tree-row
            %ul.skills
              %li.skill.nadoby
                %a{:href => "#"}
                  .skill-label
                    Nádoby
              %li.skill.stroje
                %a{:href => "#"}
                  .skill-label
                    Stroje
              %li.skill.dum
                %a{:href => "#"}
                  .skill-label
                    Dům
              %li.skill.nabytek
                %a{:href => "#"}
                  .skill-label
                    Nábytek
          %li.skill-tree-row
            %ul.skills
              %li.skill.doprava
                %a{:href => "#"}
                  .skill-label
                    Doprava
              %li.skill.zemepis
                %a{:href => "#"}
                  .skill-label
                    Zeměpis
              %li.skill.latky
                %a{:href => "#"}
                  .skill-label
                    Látky
              %li.skill.matematika
                %a{:href => "#"}
                  .skill-label
                    Matematika
          %li.skill-tree-row
            %ul.skills
              %li.skill.povolani
                %a{:href => "#"}
                  .skill-label
                    Povolání
              %li.skill.cas
                %a{:href => "#"}
                  .skill-label
                    Čas
              %li.skill.cisla
                %a{:href => "#"}
                  .skill-label
                    Čísla
          %li.skill-tree-row
            %ul.skills
              %li.skill.pridavna-jmena
                %a{:href => "#"}
                  .skill-label
                    Přídavná jména
              %li.skill.slovesa
                %a{:href => "#"}
                  .skill-label
                    Slovesa
              %li.skill.zajmena
                %a{:href => "#"}
                  .skill-label
                    Zájmena

  = render :footer, :hidden => false, :text_footer => $text_footer