- require '_helpers'
- $title = "Anglická slovíčka"
- $meta_description = "Stránka Anglická slovíčka obsahuje databázi základních slovíček rozdělenou do tématických skupin jako například barvy, oblečení, jídlo, město atd. Tento modul je vhodný především pro učení, procvičování a rozšiřování slovní zásoby."
- $meta_keywords = "Anglická slovíčka, Anglická slovní zásoba, slovní zásoba, slovíčka"
- $meta_subject = "Cizí jazyk. Výuka jazyků. Gramatika. Slovíčka. Testy. Jazyková zkouška. Slovesa. Fráze. Výslovnost. Angličtina. Němčina. Francouzština."
- $text_footer = "Stránka Anglická slovíčka obsahuje databázi základních slovíček rozdělenou do tématických skupin jako například barvy, oblečení, jídlo, město atd. Tento modul je vhodný především pro učení, procvičování a rozšiřování slovní zásoby."
= render :wrap, :title => $title, :meta_description => $meta_description, :meta_keywords => $meta_keywords, :meta_subject => $meta_subject
%body
  = render :menu, :page_type => "other", :h1_big => "Anglická slovíčka", :h1_small => ", slovní zásoba v angličtině"
          
  .container.content
    .row
      .col-md-2
        .hidden-print.affix-top.affix-side.affix-margin{:role => "complementary", :"data-spy" => "affix", :"data-offset-top" => "188", :"data-offset-bottom" => "0"}
          %h3.page-header
            Kategorie
          %ul.nav.nav-sidenav.capitalize#set-slovicka
            %li.active
              %a{:href => "#", :"data-category" => "abstract"}
                Abstract
            %li
              %a{:href => "#"}
                Anatomy
            %li
              %a{:href => "#"}
                Animal
            %li
              %a{:href => "#"}
                Art
            %li
              %a{:href => "#"}
                Business
            %li
              %a{:href => "#"}
                City
            %li
              %a{:href => "#"}
                Clothes
            %li
              %a{:href => "#"}
                Color
            %li
              %a{:href => "#"}
                Communication
            %li
              %a{:href => "#"}
                Container
            %li
              %a{:href => "#"}
                Conversation
            %li
              %a{:href => "#"}
                Country
            %li
              %a{:href => "#"}
                Device
            %li
              %a{:href => "#"}
                Drink
            %li
              %a{:href => "#"}
                Education
            %li
              %a{:href => "#"}
                Family
            %li
              %a{:href => "#"}
                Food
            %li
              %a{:href => "#"}
                Fruit
            %li
              %a{:href => "#"}
                Furniture
            %li
              %a{:href => "#"}
                Geography
            %li
              %a{:href => "#"}
                House
            %li
              %a{:href => "#"}
                Language
            %li
              %a{:href => "#"}
                Material
            %li
              %a{:href => "#"}
                Mathematics
            %li
              %a{:href => "#"}
                Medicine
            %li
              %a{:href => "#"}
                Nature
            %li
              %a{:href => "#"}
                Object
            %li
              %a{:href => "#"}
                Physics
            %li
              %a{:href => "#"}
                Profession
            %li
              %a{:href => "#"}
                Relations
            %li
              %a{:href => "#"}
                Science
            %li
              %a{:href => "#"}
                Society
            %li
              %a{:href => "#"}
                Sports
            %li
              %a{:href => "#"}
                Time
            %li
              %a{:href => "#"}
                Tool
            %li
              %a{:href => "#"}
                Transport
            %li
              %a{:href => "#"}
                Time
            %li
              %a{:href => "#"}
                Vegetable
            %li
              %a{:href => "#"}
                Weather
            %li
              %a{:href => "#"}
                Adjective-basic
            %li
              %a{:href => "#"}
                Adjective
            %li
              %a{:href => "#"}
                Adverb
            %li
              %a{:href => "#"}
                Conjunction
            %li
              %a{:href => "#"}
                Number
            %li
              %a{:href => "#"}
                Preposition
            %li
              %a{:href => "#"}
                Pronoun
            %li
              %a{:href => "#"}
                Verb-basic
            %li
              %a{:href => "#"}
                Verb
      .col-md-9.col-md-offset-1
        %h2.page-header.capitalize#scroll
          Abstract
        %table.table.table-striped.table-4th-row.table-condensed.table-2-col#get-slovicka
          %tr
            %th
              ability
            %td
              schopnost
          %tr
            %th
              act
            %td
              čin, skutek
          %tr
            %th
              action
            %td
              čin
          %tr
            %th
              activity
            %td
              aktivita, činnost
          %tr
            %th
              addition
            %td
              přídavek, dodatek
          %tr
            %th
              amount
            %td
              množství
          %tr
            %th
              ability
            %td
              schopnost
          %tr
            %th
              act
            %td
              čin, skutek
          %tr
            %th
              action
            %td
              čin
          %tr
            %th
              activity
            %td
              aktivita, činnost
          %tr
            %th
              addition
            %td
              přídavek, dodatek
          %tr
            %th
              amount
            %td
              množství
          %tr
            %th
              ability
            %td
              schopnost
          %tr
            %th
              act
            %td
              čin, skutek
          %tr
            %th
              action
            %td
              čin
          %tr
            %th
              activity
            %td
              aktivita, činnost
          %tr
            %th
              addition
            %td
              přídavek, dodatek
          %tr
            %th
              amount
            %td
              množství
          %tr
            %th
              ability
            %td
              schopnost
          %tr
            %th
              act
            %td
              čin, skutek
          %tr
            %th
              action
            %td
              čin
          %tr
            %th
              activity
            %td
              aktivita, činnost
          %tr
            %th
              addition
            %td
              přídavek, dodatek
          %tr
            %th
              amount
            %td
              množství
          %tr
            %th
              ability
            %td
              schopnost
          %tr
            %th
              act
            %td
              čin, skutek
          %tr
            %th
              action
            %td
              čin
          %tr
            %th
              activity
            %td
              aktivita, činnost
          %tr
            %th
              addition
            %td
              přídavek, dodatek
          %tr
            %th
              amount
            %td
              množství
          %tr
            %th
              ability
            %td
              schopnost
          %tr
            %th
              act
            %td
              čin, skutek
          %tr
            %th
              action
            %td
              čin
          %tr
            %th
              activity
            %td
              aktivita, činnost
          %tr
            %th
              addition
            %td
              přídavek, dodatek
          %tr
            %th
              amount
            %td
              množství
          %tr
            %th
              ability
            %td
              schopnost
          %tr
            %th
              act
            %td
              čin, skutek
          %tr
            %th
              action
            %td
              čin
          %tr
            %th
              activity
            %td
              aktivita, činnost
          %tr
            %th
              addition
            %td
              přídavek, dodatek
          %tr
            %th
              amount
            %td
              množství
          %tr
            %th
              ability
            %td
              schopnost
          %tr
            %th
              act
            %td
              čin, skutek
          %tr
            %th
              action
            %td
              čin
          %tr
            %th
              activity
            %td
              aktivita, činnost
          %tr
            %th
              addition
            %td
              přídavek, dodatek
          %tr
            %th
              amount
            %td
              množství
          %tr
            %th
              ability
            %td
              schopnost
          %tr
            %th
              act
            %td
              čin, skutek
          %tr
            %th
              action
            %td
              čin
          %tr
            %th
              activity
            %td
              aktivita, činnost
          %tr
            %th
              addition
            %td
              přídavek, dodatek
          %tr
            %th
              amount
            %td
              množství
          %tr
            %th
              ability
            %td
              schopnost
          %tr
            %th
              act
            %td
              čin, skutek
          %tr
            %th
              action
            %td
              čin
          %tr
            %th
              activity
            %td
              aktivita, činnost
          %tr
            %th
              addition
            %td
              přídavek, dodatek
          %tr
            %th
              amount
            %td
              množství
          %tr
            %th
              ability
            %td
              schopnost
          %tr
            %th
              act
            %td
              čin, skutek
          %tr
            %th
              action
            %td
              čin
          %tr
            %th
              activity
            %td
              aktivita, činnost
          %tr
            %th
              addition
            %td
              přídavek, dodatek
          %tr
            %th
              amount
            %td
              množství
          %tr
            %th
              ability
            %td
              schopnost
          %tr
            %th
              act
            %td
              čin, skutek
          %tr
            %th
              action
            %td
              čin
          %tr
            %th
              activity
            %td
              aktivita, činnost
          %tr
            %th
              addition
            %td
              přídavek, dodatek
          %tr
            %th
              amount
            %td
              množství

        = reklama("slim")

  = render :footer, :text_footer => $text_footer