- require '_helpers'
- $title = "Anglická slovíčka"
- $meta_description = "Stránka Anglická slovíčka obsahuje databázi základních slovíček rozdělenou do tématických skupin jako například barvy, oblečení, jídlo, město atd. Tento modul je vhodný především pro učení, procvičování a rozšiřování slovní zásoby."
- $meta_keywords = "Anglická slovíčka, Anglická slovní zásoba, slovní zásoba, slovíčka"
- $meta_subject = "Cizí jazyk. Výuka jazyků. Gramatika. Slovíčka. Testy. Jazyková zkouška. Slovesa. Fráze. Výslovnost. Angličtina. Němčina. Francouzština."
- $text_footer = "Stránka Anglická slovíčka obsahuje databázi základních slovíček rozdělenou do tématických skupin jako například barvy, oblečení, jídlo, město atd. Tento modul je vhodný především pro učení, procvičování a rozšiřování slovní zásoby."
= render :wrap, :title => $title, :meta_description => $meta_description, :meta_keywords => $meta_keywords, :meta_subject => $meta_subject
%body
  = render :menu, :page_type => "other", :h1_big => "Anglická slovíčka", :h1_small => ", slovní zásoba v angličtině"
          
  .container.content
    .row
      .col-md-2
        .hidden-print.affix-top.affix-side.affix-margin{:role => "complementary", :"data-spy" => "affix", :"data-offset-top" => "188", :"data-offset-bottom" => "10"}
          %h3.page-header
            Kategorie
          %ul.nav.nav-sidenav.capitalize#set-slovicka

      .col-md-9.col-md-offset-1
        %h2.page-header.capitalize#scroll
          Jejda :(
        %table.table.table-striped.table-4th-row.table-condensed.table-2-col#get-slovicka
          %tr
            %td{:colspan => "2"}
              K prohlížení této stránky potřebujete mít zapnutý javascript, moderní prohlížeč podporující HTML5 a být připojeni k internetu

        = reklama("slim")

  = render :footer, :hidden => false, :text_footer => $text_footer