- require '_helpers'
- $title = "Učení se anglických slovíček"
- $meta_description = "Tato stránka obsahuje gramatiku, slovíčka, testy, cvičení, přehledy, často používané fráze, obrázkový slovník a další užitečné informace pro jazyk Angličtina."
- $meta_keywords = "Angličtina, jazyk, výuka, gramatika, slovník, zásoba, testy, test, zkouška, fce, slovesa, procvičování, cvičení, zkoušky, certifiát, kurz, hry, slovíčka."
- $meta_subject = "Cizí jazyk. Výuka jazyků. Gramatika. Slovíčka. Testy. Jazyková zkouška. Slovesa. Fráze. Výslovnost. Angličtina. Němčina. Francouzština."
- $text_footer = "Tato stránka obsahuje gramatiku, slovíčka, testy, cvičení, přehledy, často používané fráze, obrázkový slovník a další užitečné informace pro jazyk Angličtina."
= render :wrap, :title => $title, :meta_description => $meta_description, :meta_keywords => $meta_keywords, :meta_subject => $meta_subject
%body
  = render :menu, :page_type => "other", :h1_big => "Učení se anglických slovíček", :h1_small => ""
          
  .container.content
    .row
      .col-md-2
        .hidden-print.affix-side.affix-margin.text-muted
          %h3.page-header
            Už umím
          %table.table.table-condensed.table-borderless
            %tr
              %td
                2 z 11 slovíček
            %tr
              %td
                .progress
                  .progress-bar.progress-bar-subtle{:role => "progressbar", :"aria-valuenow" => "30", :"aria-valuemin" => "0", :"aria-valuemax" => "100", :style => "width: 30%"}
                    %small 
                      6 %

          %h4
            Poslední
          %table.table.table-condensed.table-borderless
            %tr
              %td
                blue
            %tr
              %td
                red

      .col-md-9.col-md-offset-1#learning
        %img.img-thumbnail.img-responsive.pull-right{:src => "img/vocabulary/colors/green.png", :alt => "green", :width => "200"}
        %h2.page-header#english Green

        %form#input_form.form-inline{:role => "form"}
          .form-group.has-feedback
            <span class="glyphicon form-control-feedback"></span>
            <input type="text" class="form-control input-lg" id="input_word" placeholder="Přeložte do češtiny" autocomplete="off">
          .form-group
            <button type="button" class="btn btn-default btn-lg" id="next_word">Další slovíčko</button>
          
        %div{:style => "display:block;margin-top:9em"}
        = reklama("slim")

        %ul.skill-tree.hidden
          %li.skill-tree-row
            %ul.skills
              %li.skill.barvy.learned
                %a{:href => "#"}
                  .skill-label
                    Barvy
              %li.skill.rodina
                %a{:href => "#"}
                  .skill-label
                    Rodina
              %li.skill.telo
                %a{:href => "#"}
                  .skill-label
                    Tělo 
          %li.skill-tree-row
            %ul.skills
              %li.skill.jidlo
                %a{:href => "#"}
                  .skill-label
                    Jídlo
              %li.skill.ovoce
                %a{:href => "#"}
                  .skill-label
                    Ovoce
              %li.skill.zelenina
                %a{:href => "#"}
                  .skill-label
                    Zelenina
              %li.skill.napoje
                %a{:href => "#"}
                  .skill-label
                    Nápoje

          %li.skill-tree-row
            %ul.skills
              %li.skill.mesto
                %a{:href => "#"}
                  .skill-label
                    Město
              %li.skill.zvirata
                %a{:href => "#"}
                  .skill-label
                    Zvířata
              %li.skill.priroda
                %a{:href => "#"}
                  .skill-label
                    Příroda
              %li.skill.obleceni
                %a{:href => "#"}
                  .skill-label
                    Oblečení
          %li.skill-tree-row
            %ul.skills
              %li.skill.nadoby
                %a{:href => "#"}
                  .skill-label
                    Nádoby
              %li.skill.stroje
                %a{:href => "#"}
                  .skill-label
                    Stroje
              %li.skill.dum
                %a{:href => "#"}
                  .skill-label
                    Dům
              %li.skill.nabytek
                %a{:href => "#"}
                  .skill-label
                    Nábytek
          %li.skill-tree-row
            %ul.skills
              %li.skill.doprava
                %a{:href => "#"}
                  .skill-label
                    Doprava
              %li.skill.zemepis
                %a{:href => "#"}
                  .skill-label
                    Zeměpis
              %li.skill.latky
                %a{:href => "#"}
                  .skill-label
                    Látky
              %li.skill.matematika
                %a{:href => "#"}
                  .skill-label
                    Matematika
          %li.skill-tree-row
            %ul.skills
              %li.skill.povolani
                %a{:href => "#"}
                  .skill-label
                    Povolání
              %li.skill.cas
                %a{:href => "#"}
                  .skill-label
                    Čas
              %li.skill.cisla
                %a{:href => "#"}
                  .skill-label
                    Čísla
          %li.skill-tree-row
            %ul.skills
              %li.skill.pridavna-jmena
                %a{:href => "#"}
                  .skill-label
                    Přídavná jména
              %li.skill.slovesa
                %a{:href => "#"}
                  .skill-label
                    Slovesa
              %li.skill.zajmena
                %a{:href => "#"}
                  .skill-label
                    Zájmena

  = render :footer, :hidden => false, :text_footer => $text_footer