!!! 5
%html{:lang => "cs"}
  %head
    %title= "Jazyky online"
    %meta{:'http-equiv' => "X-UA-Compatible"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{:name => "description", :content => ""}
    %meta{:name => "keywords", :content => ""}
    %meta{:name => "author", :content => "Jan Šablatura"}
    %link{:rel => "stylesheet", :href => "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    %link{:rel => "stylesheet", :href => "style.css"}
    -# HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if IE]
      %script{:src => "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
      %script{:src => "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"}
    %link{:rel => "apple-touch-icon-precomposed", :sizes => "144x144", :href => "img/apple-touch-icon-144-precomposed.png"}
    %link{:rel => "shortcut icon", :href => "img/favicon.png"}